body{
    margin: 0;
    font-family: cursive;

    /* This keeps the footer at the bottom of the page */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.page{
    height: 15vh;
    background-color: rgb(241, 97, 121);

    /* This centers the content in the headers and footers */
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    /* This centers the content in the main portion of the page */
    display: flex;
    align-items: center;
    flex-direction: column;

    /* Grows central content to fill page (keeps footer at bottom) */
    flex: 1;

    /* Gives some padding so content is not touching header */
    padding: 2em;
}

.quizForm{
    /* Centers questions */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question{
    /* Spaces out questions */
    margin-bottom: 1.5em;
}

.question img{
    /* this uses explicit sizes which is bad - use scaling which does not affect proportions */
    width: 15vw;
    height: 20vh;
}